h1 {
    /*background: red*/
    color: white;
    font-size: 60px;
}
body {
    background: #5bc0de;
    color:blue;
}
/*h2, h3 {
    /*background-color: blue;
    color: white;
}*/
/*.card-header {
    background-color:#5bc0de ;
}*/
.container {
    margin: 100px auto;
    justify-content: space-evenly;
    display: flex;
    
}